/* html,body,div,h1,h2,h3,h4,h5,h6,dl,dt,dd,p,blockquote,pre,form,fieldset,table,th,td,article,aside,footer,header,nav,section
	{
	margin: 0;
	padding: 0;
	font-style: normal;
	text-decoration: none;
	vertical-align: baseline;
} */

/* html,body {
	border: 0
} */

/* body {
	margin: 0;
	font-family: Tohoma, Verdana, Arial, Sans-Serif;
	color: #555;
	font-size: 13px;
	text-align: justify;
	background-color: #f7f7f7;
	line-height: 20px;
	background-image: url("images/flower1.png");
	background-repeat: repeat;
}
 */
/* header,footer,aside,nav,article {
	display: block
} */
/*  this is used to make rounded shape
 */.header {
	width: 1000px;
	padding: 20px;
	margin-left: 100px;
	margin-right: 100px;
	border: 1px solid #ccc;
	border-radius: 10px;
}

.header1 {
	margin-left: 100px;
	margin-right: 100px;
	border: 1px solid #ccc;
	border-radius: 10px;
	border: 1px solid #ccc;
	-moz-border-radius: 10px;
	-webkit-box-shadow: 0 0 10px #ccc;
	-moz-box-shadow: 0 0 10px #ccc;
	box-shadow: 0 0 10px #ccc;
}

.footer1 {
	width: 1040px;
	margin-left: 100px;
	margin-right: 100px;
	border: 1px solid #ccc;
	border-radius: 10px;
	margin-left: 100px;
	clear: both;
}

.divbox {
	padding: 20px;
	margin-left: 100px;
	margin-right: 100px;
	border: 1px solid #ccc;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-box-shadow: 0 0 10px #ccc;
	-moz-box-shadow: 0 0 10px #ccc;
	box-shadow: 0 0 10px #ccc;
	Set background image in oval format
	background-image: -moz-linear-gradient(top, #fff, #f2f2f2);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff),
		to(#f2f2f2) )
}
form {
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-box-shadow: 0 0 10px #ccc;
	-moz-box-shadow: 0 0 10px #ccc;
	box-shadow: 0 0 10px #ccc;
	background-image: -moz-linear-gradient(top, #fff, #f2f2f2);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff),
		to(#f2f2f2) )
}

this works when we click in the text box then no border will be assigned
*:focus {
	outline: none
}

.heading {
	padding-bottom: 10px;
	padding-top: 10px;
	font-size: 16px;
}

.rightPan {
	height: 540px;
	width: 800px;
	margin-left: 340px;
	float: left;
	margin-top: -540px;
	margin-right: 100px;
	border-radius: 10px;
}

#mainNav {
	width: 1050px;
	background-color: #666;
	height: 40px;
	margin-left: 100px;
	border-radius: 10px;
}

  h1,h2,h3,h4,h5,h6 {
	color: #7f3300;
/* 	/* margin-top: 1.5em; */
	margin-bottom: .3em; */
	font-family: DaxCompact-RegularRegular, Georgia, Helvetica, Times,
		'Times New Roman', serif
}  

#mainNav ul,#recentsAside ul,.customGroupCloud ul {
	margin: 0;
	padding: 10px 0 0 10px;
	font-family: DaxCompact-LightLight;
	font-size: 12pt;
}

#mainNav ul li {
	display: inline
}

#mainNav ul li a {
	padding: 3px 15px 3px 15px;
	margin-right: 15px;
	text-decoration: none;
	color: #C03;
	font-size: 18px;
	font-family: "MS Serif", "New York", serif;
	background-color: #BCBCBC;
	border: 1px solid #202020;
	border-top-left-radius: 8px 8px;
	border-top-right-radius: 8px 8px;
	border-bottom-left-radius: 8px 8px;
	border-bottom-right-radius: 8px 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
	-webkit-border-top-left-radius: 8px 8px;
	-webkit-border-top-right-radius: 8px 8px;
	-webkit-border-bottom-left-radius: 8px 8px;
	-webkit-border-bottom-right-radius: 8px 8px
}

#mainNav ul li a:hover {
	background-color: #2f2f2f;
	color: #ff7519;
	position: inherit;
	border: 1px solid #3f3f3f;
	border-top-left-radius: 8px 8px;
	border-top-right-radius: 8px 8px;
	border-bottom-left-radius: 8px 8px;
	border-bottom-right-radius: 8px 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
	-webkit-border-top-left-radius: 8px 8px;
	-webkit-border-top-right-radius: 8px 8px;
	-webkit-border-bottom-left-radius: 8px 8px;
	-webkit-border-bottom-right-radius: 8px 8px
}

input,select {
	border: 1px solid #ccc;
	font-size: 16px;
	padding: 5px 10px 5px 10px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out
}

textarea {
	border: 1px solid #ccc;
	font-size: 15px;
	padding: 5px 10px 5px 10px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out
}

input[type=text],input[type=email],input[type=url] {
	width: 350px
}

input.short {
	width: 200px
}

input:focus,select:focus {
	-webkit-box-shadow: 0 0 10px #ccc;
	-moz-box-shadow: 0 0 10px #ccc;
	box-shadow: 0 0 5px #ccc;
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	transform: scale(1.05)
}

textarea:focus {
	-webkit-box-shadow: 0 0 10px #ccc;
	-moz-box-shadow: 0 0 10px #ccc;
	box-shadow: 0 0 5px #ccc;
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	transform: scale(1.01)
	
}


input:not(:focus){
opacity:1.0
}
select 
{
	background: url("../images/dropdown.jpg") no-repeat 340px 3px
}
 
input:required {
	background: url("../images/dropdown.jpg") no-repeat 340px 3px
}

input[class=short]:required {
	background: url("../images/required.png") no-repeat 190px 3px
}

input[class=short]:focus:invalid {
	background: url("../images/error.png") no-repeat 190px 3px
}

input:valid:not ([type=submit] ){
	background: url("../images/ok.png") no-repeat 340px 3px
}

input[class=short]:valid {
	background: url("../images/ok.png") no-repeat 190px 3px
}


input[type=submit],input[type=button],input[type=reset] {
	opacity: 1;
	background-image: -moz-linear-gradient(top, #fff, #dfdfdf);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff),
		to(#dfdfdf) );
	cursor: pointer
}

a:hover { 	text-decoration: underline
	
}

.row {
	padding-bottom: 5px
}

label:first-letter {
	color: #000;
	font-size: 140%
}

.innerdiv {
	height: 25px;
	width: 150px;
	padding-left: 50px;
	padding-top: 10px;
	margin: 0px;
	border: 1px solid #ccc;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-box-shadow: 0 0 10px #ccc;
	-moz-box-shadow: 0 0 10px #ccc;
	box-shadow: 0 0 10px #ccc;
}

.text {
	padding: 20px;
	margin: 20px;
	font-size: 13px;
}

.text1 {
	
}

h4.commentformTitle {
	margin-top: 0;
	font-size: 16pt;
}

.header1 ul {
	list-style-type: none;
}

.header1 ul li {
	width: 170px;
	height: 30px;
	padding-top: 10px;
	border-bottom-color: blue;
	border: 2px;
}

.header1 ul li a {
	text-decoration: none;
	border: 1px;
}

.abc {
	width: 780px;
	height: 500px;
	margin-left: 340px;
	border-radius: 10px;
	padding-left: 20px;
	margin-top: -501px;
	padding-left: 20px;
	padding-top: 20px;
	float: left;
	border: 1px solid #ccc;
	-moz-border-radius: 10px;
	-webkit-box-shadow: 0 0 10px #ccc;
	-moz-box-shadow: 0 0 10px #ccc;
	box-shadow: 0 0 10px #ccc;
}